.compo-queues {
  list-style: none;
  padding-left: 15px;

  flex: 0 100%;
  &__wrapper {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }

  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &__item {
    padding-left: 19px;
    position: relative;
    display: flex;
    padding: 10px 0 10px 19px;
    color: #fff;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #5d4848;
    animation: appear 0.2s ease-in-out;

    &:first-child {
      padding: 10px 0 10px 0;

      p {
        margin: 0;
        font-size: 16px;
        color: #fff;
        letter-spacing: 0.05em;
        font-weight: 900;
      }
    }

    &:last-child {
      border-bottom: 0;
    }

    &.header-item {
      color: #6d6d6d;
    }

    &-title {
      padding-right: 10px;
      flex: 1;
      align-items: center;
      width: 100%;
      max-width: 590px;
      overflow: hidden;
    }

    &-channel {
      flex: 1;
      width: 100%;
      max-width: 170px;
      overflow: hidden;
    }

    &-duration,
    &-del-ctrl {
      flex: 1;
      width: 100%;
      max-width: 100px;
      overflow: hidden;
    }

    &-del-ctrl {
      height: 100%;
      background: 0;
      border: 0;
      outline: 0;
      cursor: pointer;
      span {
        color: #fff;
        position: absolute;
        margin-left: 3px;

        &:before {
          content: "";
          position: absolute;
          width: 15px;
          height: 1px;
          background-color: currentColor;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &:after {
          content: "";
          position: absolute;
          width: 15px;
          height: 1px;
          background-color: currentColor;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }

    &-del-ctrl,
    &-spacer {
      flex: 1;
      width: 100%;
      max-width: 100px;
      margin-left: 20px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
