.compo-results {
  padding: 40px 15px 10px;

  h1 {
    position: fixed;
    top: 47px;
    margin-bottom: 0;
    margin: 5px 0 11px;

    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
  }

  &__swiper {
    margin: 0;
    padding: 0;

    .swiper-slide img {
      position: relative;
      &:before {
        content: attr(data-title);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
      }
    }
  }

  &__swiper li {
    border-radius: 15px;

    img {
      border-radius: 15px;
      cursor: pointer;
    }
  }
}
