.compo-searchbar {
  display: flex;
  height: 40px;

  input {
    background: transparent;
    outline: 0;
    border: 1px solid #222;
    font-size: 14px;
  }

  input:first-child {
    flex: 1;
    order: 2;
    padding: 10px;
    background: #222;
    color: #fff;

    &::placeholder {
      color: #999;
    }
  }

  input:last-child {
    order: 1;
    padding: 0 15px;
    letter-spacing: 0.04em;
    width: 100%;
    max-width: 90px;
    border-right: 0;
    cursor: pointer;
    background: #222;

    color: #999;
  }
}
