form {
  display: flex;
  align-items: stretch;
  font-family: "sans-serif";
  height: 40px;
}

input:first-child {
  width: 100%;
  max-width: 90px;
}

input:last-child {
  flex: 1;
  padding: 0 15px;
  font-family: "verdana";
  letter-spacing: 0.04em;
}
